body{
    width: 100%;
    margin: auto;
    
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-color: #FFEBCD;
    background-position: right;
    background-size: cover;
}
*{
    box-sizing: border-box;
}
.container{
    width: 1024px;
    margin: auto;
    padding: 0 25px;
}
.cover-blok{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    align-items: center;
    padding-top: 47px;
    margin-bottom: 62px;
}
.li{
    display: inline-block;
    list-style-type: none;
    position: relative;
}
.link, .li{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    text-decoration: none;
    padding: 6px 11px;
}
.link:hover{
    background-color: #DAA520;
    border-radius: 5px;
    color: #fff;
}
.submenu-li{
    list-style-type: none;
    background-color: #daa520;
}
.menu__submenu{
    position: absolute;
    width: 193px;
    top: 27px;
    left: -40px;
}
.menu__submenu.types{
    width: 136px;
}
.link--1{
    display: none;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    text-decoration: none;
    padding: 1px 0 4px 0;
    text-align: center;
}
.link--1:hover{
    color: #fff;
}
.li.dropdown:hover{
    background-color: #DAA520;
    border-radius: 5px;
    color: #fff;
}
.li.dropdown:hover .link--1{
    display: block;
}

.fas.fa-shopping-basket{
    font-size: 21px;
    color: #000;
    padding: 0 5px;
}

.fas.fa-shopping-basket:hover{
    color: #800000;
}



/*****************MAIN*****************/
.main{
    font-family: 'Montserrat', sans-serif;
}
.delivery-blok.border{
    border-bottom: 1px solid #000;
}
.delivery-blok__title{
    text-transform: uppercase;
    font-weight: 700;
}
.delivery-blok__text{
    text-align: justify;
}




/************FOOTER***************************/

.some-info{
    display: flex;
    justify-content: space-around;
    padding: 55px 0 0 0;
    font-family: 'Montserrat', sans-serif;
}
.some-info__blok{
    text-align: center;
}
.fas{
    font-size: 50px;
    color: #DC143C;
}
.title{
    text-transform: uppercase;
    font-weight: 700;
}
.blok__social-network{
    display: flex;
    justify-content: center;
}
.fab{
    text-decoration: none;
    color: #DC143C;
    font-size: 24px;
}
.fab.fa-instagram{
    font-size: 28px;
}
.fab.left{
    margin-left: 18px;
}
.fab:hover{
    color: #800000;
}